.notifications {
  display:none;
}

.notifications.show {
  display: block;
}

.notifications .notify{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  padding:5px;
}

